@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.body {
  padding: 1rem 2rem;
  @include tablet {
    padding: 2rem 2rem;
  }
  @include desktop {
    padding: 4rem;
  }
  &_header {
    @include font("Open Sans Regular", 700, 24px, 32px, $primary);
    @include tablet {
      @include font("Open Sans Regular", 700, 26px, 34px, $primary);
    }
    @include desktop {
      @include font("Open Sans Regular", 700, 28px, 36px, $primary);
    }
  }

  &_para {
    @include font("Open Sans Light", 700, 12px, 18px, $primary);
    @include tablet {
      @include font("Open Sans Light", 700, 14px, 20px, $primary);
    }
    @include desktop {
      @include font("Open Sans Light", 700, 16px, 22px, $primary);
    }
  }
}

.education {
  &_header {
    @include font("Open Sans Regular", 700, 24px, 32px, $primary);
    @include tablet {
      @include font("Open Sans Regular", 700, 26px, 34px, $primary);
    }
    @include desktop {
      @include font("Open Sans Regular", 700, 28px, 36px, $primary);
    }
  }

  &_container {
    @include flex(space-between, baseline, row);

    &-subject {
      @include font("Open Sans Regular", 700, 14px, 18px, $primary);
      @include tablet {
        @include font("Open Sans Regular", 700, 16px, 20px, $primary);
      }
      @include desktop {
        @include font("Open Sans Regular", 700, 18px, 22px, $primary);
      }
    }

    &-school {
      @include font("Open Sans Regular", 700, 12px, 18px, $primary2);
      @include tablet {
        @include font("Open Sans Regular", 700, 14px, 20px, $primary2);
      }
      @include desktop {
        @include font("Open Sans Regular", 700, 16px, 22px, $primary2);
      }
    }

    &-year {
      @include font("Open Sans Light", 700, 12px, 18px, $primary);
      @include tablet {
        @include font("Open Sans Light", 700, 14px, 20px, $primary);
      }
      @include desktop {
        @include font("Open Sans Light", 700, 16px, 22px, $primary);
      }
    }
  }
}

.experience {
  &_header {
    @include font("Open Sans Regular", 700, 24px, 32px, $primary);
    @include tablet {
      @include font("Open Sans Regular", 700, 26px, 34px, $primary);
    }
    @include desktop {
      @include font("Open Sans Regular", 700, 28px, 36px, $primary);
    }
  }

  &_container {
    @include flex(space-between, baseline, row);

    &-position {
      @include font("Open Sans Regular", 700, 14px, 18px, $primary);
      @include tablet {
        @include font("Open Sans Regular", 700, 16px, 20px, $primary);
      }
      @include desktop {
        @include font("Open Sans Regular", 700, 18px, 22px, $primary);
      }
    }

    &-company {
      @include font("Open Sans Regular", 700, 12px, 18px, $primary2);
      @include tablet {
        @include font("Open Sans Regular", 700, 14px, 20px, $primary2);
      }
      @include desktop {
        @include font("Open Sans Regular", 700, 16px, 22px, $primary2);
      }
    }

    &-year {
      @include font("Open Sans Light", 700, 12px, 18px, $primary);
      @include tablet {
        @include font("Open Sans Light", 700, 14px, 20px, $primary);
      }
      @include desktop {
        @include font("Open Sans Light", 700, 16px, 22px, $primary);
      }
    }
  }
}

#icon {
  margin-right: 4px;
}
